
a {
  color: #11999E;
}
/* body {

  margin: 0;
  text-align: center;
  font-family: Trebuchet-MS, Lucida-Grande, Tahoma,  sans-serif;
} */
h1 {
  font-size: 4.50rem;
  /* width: 500px;
  margin: 50px auto 0 auto; */
  color: #66BFBF;
  font-family: 'Cinzel', serif;/*
  position: absolute;
  top: 225px;
right: 0;
left:0;
text-align: center;*/
}
h2 {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}
h3 {
  font-family: 'Jost', sans-serif;
  color: #66BFBF;
}
h4 {
  font-family: 'Antic Slab', serif;
  color: #12999F;
}
p {
  font-family: 'Antic Slab', serif;
}
.pro {
  text-decoration: underline;
}

.logo {
  font-size: 2.5rem;
}

.company {

}

/* .skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
} */

.circ {
  width: 10rem;
  padding: 0 20px 20px 0;
  border-radius: 5rem;
}/*
.skill-desc {
clear: left;
}*//* Used to prevent wrapping around float elements on the specified
description*/
/*
font-family: 'Aclonica', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
*/
