
/* body {

  margin: 0;
  text-align: center;
  font-family: Trebuchet-MS, Lucida-Grande, Tahoma,  sans-serif;
} */

a {
  color: #7267CB;
}
h1 {
  font-size: 4.50rem;
  color: #E4F9F5;
  font-family: 'Cinzel', serif;
}
h2 {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #E5EFC1;
}
h3 {
  font-family: 'Jost', sans-serif;
  color: #39AEA9;
  font-size: 1.2em;
}
h4 {
  font-family: 'Antic Slab', serif;
  color: #39AEA9;
}
p, li {
  font-family: 'Antic Slab', serif;
  color: #FFFFFF;
}

.pro {
  text-decoration: underline;
}

.logo {
  font-size: 2.5rem;
}

/* .skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
} */
.carousel-item {
  padding: 7% 15%;
}

.circ {
  width: 10rem;
  padding: 0 20px 20px 0;
  border-radius: 5rem;
}/*
.skill-desc {
clear: left;
}*//* Used to prevent wrapping around float elements on the specified
description*/
/*
font-family: 'Aclonica', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
*/
